<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Region #160</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=cyrillic" rel="stylesheet">
        <link href="src/style.css">
    </head>
    <body>
        <div class="pure-g" id="app">
            <div class="pure-u-1">
                <header>
                    <h3>По запросу 'javascript' в Алматы найдено вакансий: {{data.found}} </h3>
                    <input placeholder="Введите название вакансии" v-model="query">
                </header>
            </div>
            <div class="pure-u-1">
                <div class="container">
                    <div class="card" v-for="item in filteredItems">
                        <div class="card-header">
                            <div class="icons">
                                <p v-show="isPHP(item) == true">PHP</p>
                                <p v-show="isHTML(item) == true">HTML</p>
                                <p v-show="isCSS(item) == true">CSS</p>
                                <p v-show="isJQ(item) == true">JQuery</p>
                                <p v-show="isJS(item) == true">JS</p>
                                <p v-show="isBootstrap(item) == true">Bootstrap</p>
                                <p v-show="isNode(item) == true">Node.js</p>
                                <p v-show="isMongo(item) == true">MongoDB</p>
                                <p v-show="isAngular(item) == true">Angular</p>
                                <p v-show="isVue(item) == true">Vue</p>
                                <p v-show="isReact(item) == true">React</p>
                                <p v-show="isSQL(item) == true">SQL</p>
                                <p v-show="isTS(item) == true">TS</p>
                                <p v-show="isDesign(item) == true">Дизайн</p>
                            </div>
                            <a v-bind:href="item.alternate_url">{{ item.name }}</a>
                            <p><strong>Зарплата</strong> {{ salary(item) }}</p>
                        </div>
                        <div class="card-section">
                            <h3><strong>Работодатель:</strong><a v-bind:href="item.employer.alternate_url" class="company">{{ item.employer.name }}</a></h3>
                            <div class="inline">
                                <p><strong>Адрес:</strong> {{ city(item) }}</p>
                                <a v-bind:href="map(item)" class="map">Посмотреть, где это <img src="https://image.flaticon.com/icons/svg/149/149060.svg"></a>
                            </div>
                            <strong>Требования:</strong>
                            <p v-html="item.snippet.requirement"></p>
                            <strong>Обязанности:</strong>
                            <p v-html="item.snippet.responsibility"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://unpkg.com/vue@2.4.1/dist/vue.js"></script>
        <script src="app/axios.min.js"></script>
        <script src="app/vue-axios.min.js"></script>
        <script src="app/main.js"></script>
    </body>
</html>