
* {
    font-family: 'Roboto';
}

img {
    width: 50px;
}

header {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 20vh;

    color: #111;
    background-color: #fff;
}
header input {
    width: 50%;
    margin: auto;
    padding: 1%;
}

header input::placeholder {
    text-align: center;
}

header input:focus {
    text-align: center;
}

header input:focus::placeholder {
    opacity: 0;
}

h1 {
    font-size: 3em;

    margin: auto;
}

h2 {
    margin: auto;
}

h3 {
    width: 90%;
    margin: auto;

    text-align: center;
}

h4 {
    margin: auto;
}

.container {
    display: flex;

    flex-flow: row wrap;
}

.card {
    box-sizing: border-box;
    width: 29%;
    margin: 2%;

    border: 10px solid #999;
}

.card-header {
    display: flex;
    flex-direction: column;

    cursor: pointer;

    color: #111;
    background-color: #fff;

    align-items: center;
    justify-content: center;
}

.card-header a {
    font-size: 2em;

    width: 90%;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;

    text-align: center;

    color: #111;
}

.card-header p {
    margin-left: 5%;

    text-align: center;

    color: #111;
}

.icons {
    display: flex;

    width: 100%;
    margin-top: 2%;

    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.icons p {
    width: 25%;
    margin: 2%;
    padding: 1%;

    background-color: lavender;
}

.card-section {
    display: flex;
    flex-direction: column;

    height: auto;
    margin-bottom: 5%;

    transition: height .6s ease-in;
}

.card-section a {
    text-decoration: none;
}

.card-section p {
    font-size: .9em;
    line-height: 1.5;

    padding-right: 3%;
    padding-left: 3%;
}

.button {
    display: flex;

    box-sizing: border-box;
    width: 50%;
    height: 8vh;
    margin: auto;

    cursor: pointer;

    background-color: #d10b0f;

    align-items: center;
    justify-content: center;
}

.button p {
    color: #fff;
}

.card-section .button:hover {
    text-decoration: none;

    border: 3px solid #d10b0f;
    background-color: #fff;
}

.card-section .button:hover p {
    color: #d10b0f;
}

strong {
    padding-left: 3%;
}

.card-section .map {
    font-size: .9em;

    display: flex;

    padding: 3% 0 3% 3%;

    text-decoration: none;

    color: #111;

    align-items: center;
}

.map img {
    max-width: 9%;
    padding-left: 1%;
}

.card-section .company {
    font-size: 1em;

    margin-left: 2%;

    color: #111;
}

a:hover {
    text-decoration: underline;
}

.inline {
    display: flex;

    align-items: center;
    justify-content: space-around;
}

.inline p, .inline a {
    width: 100%;

    text-align: center;
}

.company-wrapper {
    display: flex;

    width: 80%;
    height: 8vh;
    margin: auto;
    margin-bottom: 5%;

    background-color: #fc0;

    align-items: center;
    justify-content: center;
}

input::placeholder {
    color: #111;
}

@media screen and (max-width: 568px) {
    .card {
        width: 96%;
    }
}
.clicked {
    display: none !important;
}
